
    <%- include("./partials/header.ejs") %>
    
    <main>
        <section>
            <div data-bss-parallax-bg="true" class="position-relative" style="height: 600px;background: url(&quot;assets/img/background.jpg&quot;) center / cover no-repeat;">
                <div class="mask-background"></div>
                <div class="container h-100 mask-foreground">
                    <div class="row h-100">
                        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                            <div class="contrast-light" style="max-width: 400px;">
                                <h1 class="text-uppercase fw-bold text-white">Too many option to choose a school?</h1>
                                <p class="text-white my-3">We School Rating helps you to find the best option for you based on real people's reviews.<br>Our goal is to make your path for the future easier.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div data-bss-parallax-bg="true" style="height: 400px;background: var(--bs-light);">
                <div class="container h-100 mask-foreground">
                    <div class="row h-100">
                        <div class="col d-flex col-md-5 order-last order-lg-first">
                            <div class="my-auto">
                                <div class="d-flex my-auto contact-info"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-headset text-primary">
                                        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"></path>
                                    </svg><span>+353 083 1111</span></div>
                                <div class="d-block my-auto contact-info"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope-fill text-primary">
                                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"></path>
                                    </svg><span>assist@schoolrating.com</span></div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-lg-0 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold">contact us</h1>
                                <p class="my-3">We are more than happy to help you with any question.<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div data-bss-parallax-bg="true" class="position-relative" style="height: 600px;background: url(&quot;assets/img/background_2.jpg&quot;) center / cover no-repeat;">
                <div class="mask-background"></div>
                <div class="container h-100 mask-foreground">
                    <div class="row h-100">
                        <div class="col-md-6 offset-lg-0 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold text-white">about us</h1>
                                <p class="text-white my-3">School Rating has the missing to help our users plan and succeed in their careers. We help you to make the best choice avoiding the hassle of time spent. <br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>